.tasks__task-wrapper {
    border-style: solid;
    border-width: thin;
    border-color: hsl(180, 0%, 40%);
    margin: .5rem 0;
}

.tasks__task-wrapper.collapsed {
    border-color: hsl(180, 0%, 70%);
}

.tasks__task-wrapper.collapsed .collapsible {
    display: none;
}

.tasks__task-wrapper--label {
    padding: 1.0rem;
    background-color: hsl(180, 50%, 80%);
    font-size: 1.6rem;
}

.tasks__task-wrapper.collapsed .tasks__task-wrapper--label {
    color: hsl(180, 0%, 50%);
}

.tasks__task-wrapper--navigation {
    background-color: hsl(180, 5%, 85%);
    display: flex;
    justify-content: center;
}

.tasks__task-wrapper--navigation {

}

.tasks__task-wrapper--button {
    margin: 0.3rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    height: 2.5rem;
    width: 3rem;
}

.tasks__task-wrapper--button:enabled:hover {
    cursor: pointer;
}

.tasks__task-wrapper--button object {
    pointer-events: none;
}

.tasks__task-wrapper--button.disabled object {
    opacity: 50%;
}

.tasks__task-wrapper--button.hidden {
    display: none;
}

.tasks__task-set {
    padding: 1.5rem;
}

.tasks__task {
    padding: 0.5rem 0;
}

.tasks__task-heading {
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: hsl(120, 50%, 80%);
}

.tasks__task-note {
    background-color: hsl(1, 15%, 80%);
    margin: 0.5rem 0;
    padding: 0.5rem;
}

