<div id="error-log" class="dialogs__dialog-wrapper hidden" data-dialog-type="error-log">
  <div class="dialogs__dialog">
    <div class="dialogs__header">
      Oops, an unexpected error occurred - sorry about that! For technical support, please e-mail the session log below to the system administrator.
    </div>
    <div class="dialogs__content-area">
      <div id="error-log__messages">
      </div>
    </div>
    <div class="dialogs__footer">
      <button class="dialogs__ok-button">OK</button>
    </div>
  </div>
</div>
