<!doctype html>
<html lang=en>

  <head>
    <meta charset=utf-8>
    <title>DMA</title>
    {% block css %}
    <link rel="stylesheet" href="../css/app.css?v={{globals.version}}" type="text/css" />
    <link rel="stylesheet" href="../css/dialogs.css?v={{globals.version}}" type="text/css" />
    {% if this.styles %}
    {% set style_data = this.styles.split() %}
    {% for style in style_data %}
    <link rel="stylesheet" href="..{{style}}?v={{globals.version}}" type="text/css" />
    {% endfor %}
    {% endif %}
    {% endblock %}
  </head>
  
  <body>
    {% block body %}
    <header>
      <h1>EMARCS Data Management App v{{globals.version}}</h1>
    </header>
    <main>
      {% block content %}
      {{ this.content }}
      {% endblock %}
    </main>

    
    {% block javascript %}
    <script src="../js/logger/logger.js?v={{globals.version}}" type="module"></script>
    <script src="../js/xlsx/xlsx.js?v={{globals.version}}" type="module"></script>
    <script src="../js/data/data.js?v={{globals.version}}" type="module"></script>
    <script src="../js/templates/templates.js?v={{globals.version}}" type="module"></script>
    {% if this.scripts %}
    {% set script_data = this.scripts.split() %}
    {% for script in script_data %}
    <script type="module">
      import "..{{script}}?v={{globals.version}}"
    </script>
    {% endfor %}
    {% endif %}
    <script src="../js/app.js?v={{globals.version}}" type="module"></script>
    {% endblock %}

  {% endblock %}
  </body>

</html>
